
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Brand</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="/admin/brand_add">
                <button class="btn btn-success">
                  <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Add Brand
                </button>
              </a>
            </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Brand List</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 13%; text-align: center;">
                          Brand Code
                      </th>
                      <th style="width: 17%; text-align: center;">
                          Brand Name
                      </th>
                      <th style="width: 35%; text-align: center;">
                          Description
                      </th>
                      <th style="width: 10%" class="text-center">
                          Status
                      </th>
                      <th style="width: 30%; text-align: center;">
                          Action
                      </th>
                  </tr>
              </thead>
              <tbody>
                
                  <%if(brand.length){%>
                    <% for( i = 0 ; i < brand.length; i++){%>
                  <tr>
                      <td style="text-align: center;">
                         <strong><%=brand[i].kode_brand %></strong>
                      </td>
                      <td>
                         <strong><%=brand[i].nama_brand %></strong>
                      </td>
                      <td class="text-center">
                          <%= brand[i].deskripsi%>
                      </td>
                      <td class="project-state">
                          <% if(brand[i].status == "Active"){%>
                          <span class="badge badge-success"><%=brand[i].status %></span>
                          <%}else{%>
                          <span class="badge badge-danger"><%=brand[i].status%></span>
                          <%}%>
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="/admin/brand_detail/<%= brand[i].kode_brand %>">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="/admin/brand_edit/<%= brand[i].kode_brand %>">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>
                  <% } } %>
                  
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->


