
<section class="module bg-dark-60 shop-page-header" data-background="/public/image/logo/shop_banner.jpg">
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Our Products</h2>
        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
        </div>
    </div>
    </div>
</section>

        <section class="module-small">
          <div class="container">
            <form class="row">
              <div class="col-sm-4 mb-sm-20">
                <select class="form-control">
                  <option selected="selected">Default Sorting</option>
                  <option>Popular</option>
                  <option>Latest</option>
                  <option>Average Price</option>
                  <option>High Price</option>
                  <option>Low Price</option>
                </select>
              </div>
              <div class="col-sm-2 mb-sm-20">
                <select class="form-control">
                  <option selected="selected">Woman</option>
                  <option>Man</option>
                </select>
              </div>
              <div class="col-sm-3 mb-sm-20">
                <select class="form-control">
                  <option selected="selected">All</option>
                  <option>Coats</option>
                  <option>Jackets</option>
                  <option>Dresses</option>
                  <option>Jumpsuits</option>
                  <option>Tops</option>
                  <option>Trousers</option>
                </select>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
              </div>
            </form>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module-small">
          <div class="container">
            <div class="row multi-columns-row">
              <% if(produk.length){%>
                <% for(i = 0; i < produk.length ; i++){%>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="shop-item">
                  <div class="shop-item-image" style="height: 200px;"><img src="/public/image/product/<%= produk[i].gambar1%>" alt="Accessories Pack" style="max-height: 200px; width: auto;"/>
                    <div class="shop-item-detail">
                      <form action="/cart_add" method="post">
                        <input type="hidden" name="quantity" value="1"/>
                        <input type="hidden" name="email" value="<%= email %>" >
                        <input type="hidden" name="kode_produk" value="<%= produk[i].kode_produk %>" >
                        <input type="hidden" name="harga" value="<%= produk[i].harga_jual %>">
                      <button type="submit" class="btn btn-round btn-b">
                        <span class="icon-basket">Add To Cart</span>
                      </button>
                      </form>
                    </div>
                  </div>
                  <h4 class="shop-item-title font-alt"><a href="/product/<%= produk[i].kode_produk%>"><%= produk[i].nama_produk%></a></h4>Rp. <%= produk[i].harga_jual%>
                </div>
              </div>
              <% } }%>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
        </section>
